
# composer
vendor/
*.phar

# node
node_modules/
.pnpm-store

# Tests report
reports/

# macOS specific files
.DS_Store
._*

# Generated content
public/
src/scss/_icons.scss
vendor-prefixer/**
!**/.gitkeep
*.mo
*.zip
