
# Dependencies
node_modules/
vendor/

# Local
.vscode/
*.local.sh

# OS specific files
.DS_Store
._*
.directory

# Generated content
public/
src/scss/_icons.scss
vendor-prefixer/**
!**/.gitkeep
*.mo
*.zip
*.crt
