.stancer-iframe {
  position: fixed;
  top: 50%;
  left: 50%;
  border: 0;
  margin-top: calc(var(--stancer-iframe-height, 300px) / -2);
  margin-left: calc(var(--stancer-iframe-width, 400px) / -2);
  width: var(--stancer-iframe-width, 400px);
  height: var(--stancer-iframe-height, 300px);
  background-color: white;
  border-radius: var(--stancer-iframe-border-radius, 10px);
  box-shadow: 0 0 50px rgba(0, 0, 0, .2), 0 0 25px rgba(0, 0, 0, .2), 0 0 5px rgba(0, 0, 0, .2);
  transition-property: width, height, border-radius, margin-top, margin-left;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}

.stancer-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.stancer-block-scroll {
  overflow: hidden;
}
