@use 'sass:math';

$base-index: 99990;

@mixin transition {
  transition-behavior: allow-discrete;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;

  @media (prefers-reduced-motion: reduce) {
    transition-duration: 50ms;
  }
}

.stancer-iframe {
  @include transition();

  position: fixed;
  top: 50%;
  left: 50%;
  z-index: #{$base-index + 1};
  transition-property: width, height, border-radius, margin-top, margin-left;
  margin-top: calc(var(--stancer-iframe-height, 300px) / -2);
  margin-left: calc(var(--stancer-iframe-width, 400px) / -2);
  box-shadow:
    0 0 50px rgba(0, 0, 0, 0.2),
    0 0 25px rgba(0, 0, 0, 0.2),
    0 0 5px rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: var(--stancer-iframe-border-radius, 10px);
  background-color: white;
  width: var(--stancer-iframe-width, 400px);
  height: var(--stancer-iframe-height, 300px);
}

.stancer-backdrop {
  @include transition();

  position: fixed;
  z-index: $base-index;
  backdrop-filter: blur(5px);
  transition-property: opacity;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);

  @starting-style {
    opacity: 0;
  }

  &--hidden {
    opacity: 0;
  }

  .stancer-logo {
    $svg-width: 702.227; // from SVG
    $svg-height: 106.667; // from SVG
    $width: 120;
    $height: math.round(math.div($width * $svg-height, $svg-width));

    --stancer-back: white;
    --stancer-accent: white;
    --stancer-heart: transparent;
    --stancer-text: white;

    position: absolute;
    right: 25px;
    bottom: 25px;
    opacity: 0.3;
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.2));
    width: #{$width * 1px};
    height: #{$height * 1px};
  }
}

.stancer-block-scroll {
  overflow: hidden;
}
